<div class="Account">
  <h1>Account ({{account.name}}):</h1>
  <form novalidate>
    <label>Name: <input type="text" ng-model="account.name"/></label><br />
    <h2>Income(s):</h2>
    <input
      type="search"
      ng-model="incomeFilter"
      placeholder="Filter income(s)..."
      aria-label="Filter income(s)"
    />
    <income-expense-table></income-expense-table>
    <br />
    <!-- <label>Expenses: <input type="email" ng-model="account.expenses"/></label
    ><br /> -->
    <input type="submit" ng-click="addIncome()" value="Add Income" />
  </form>
</div>
<!-- Table of incomes -->
<!-- Ability to add, remove and edit incomes -->
<!-- Table of expenses -->
<!-- Ability to add, remove and edit expenses -->
