<input
  type="search"
  ng-model="q"
  placeholder="Filter by Name..."
  aria-label="Filter by Name"
/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="entry in $ctrl.entries | filter:q as results">
      <td>{{entry.name}}</td>
      <td>{{entry.amount}}</td>
      <td>{{entry.notes}}</td>
      <td>
        <button ng-click="remove($ctrl.entries, entry.id)">Delete</button>
      </td>
    </tr>
    <tr ng-if="results.length === 0">
      <td>No results found...</td>
    </tr>
  </tbody>
</table>
<input type="submit" ng-click="add($ctrl.entries)" value="Add" />
