<h1>Overview:</h1>
<p>Below you will see a list of all the accounts and people combined and their total values:</p>
<div class="panels">
    <div class="panel">
        <p class="title">Total Gross:</p>
        <p class="value">£{{totalGross()}}</p>
    </div>
    <div class="panel">
        <p class="title">Total Expenses:</p class="title">
        <p class="value">£{{totalExpenses()}}</p class="value">
    </div>
    <div class="panel">
        <p class="title">Total Net:</p class="title">
        <p class="value">£{{totalNet()}}</p class="value">
    </div>
</div>
