body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
h1,
h2,
p {
  margin: 0.5em 0;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: #777;
    text-decoration: underline;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }
  td {
    text-align: center;
    input,
    textarea {
      padding: 0.5em;
      font-size: 1em;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  header,
  footer {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    h1 {
      font-size: 1.5em;
      width: 100%;
      margin: 0;
    }
    .right {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .middle {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    side-nav {
      width: 20%;
      background: #eee;
    }
    .main-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1em;
      .title-input-label {
        font-size: 1.5em;
        font-weight: bold;
        .title-input {
          font-size: 1em;
          padding: 0.25em;
        }
      }
      .panels {
        display: flex;
        flex-direction: row;
        .panel {
          background-color: #333;
          color: white;
          padding: 1em;
          flex: 1 1 auto;
          text-align: center;
          margin: 5px;
          .value {
            font-size: large;
          }
        }
      }
      .table-search {
        width: 100%;
        margin-bottom: 1em;
        padding: 0.5em;
      }
      button {
        background-color: #333;
        color: white;
        border: none;
        padding: 0.5em;
        &:hover {
          background-color: #777;
        }
      }
      .table-button {
        margin-top: 1em;
      }
    }
  }
  footer {
    justify-content: center;
  }
}
